
/* Font Imports */

@font-face{
	
	src: url("fonts/Roboto-Light.ttf");
	
	font-family: roboto;
	
}

@font-face{
	
	src: url("fonts/Roboto-Regular.ttf");
	
	font-family: robotoRegular;
	
}

/* Normal View */

/* Id's */

/* Classes */

/* Tags */

button{
	
	position: absolute;
	
	background: rgb(0, 0, 0, 0);
	
	color: black;
	
	font-size: 40px;
	
	border: none;
	
	top: 30px;
	
}

button::-moz-focus-inner {
	
	border: 0;
	
}

/* Other */

*{
	
	font-family: roboto;
	
	outline: none;
	
	font-weight: normal;
	
}

*:not(textarea){
	
	-webkit-user-select: none;
	
	-moz-user-select: none;
	
	-ms-user-select: none;
	
	user-select: none;
	
}

/* Mobile View */

@media only screen and (max-width: 600px){

	/* Id's */
	
	/* Classes */
	
	/* Tags */

	/* Other */
	
	*{
		
		cursor: default;
		
	}
	
}