
/* Font Imports */

/* Normal View */

/* Id's */

#backButon{
	
	position: absolute;
	
	left: 10px;
	
	top: 1vh;
	
	padding: 0px;
	
	color: white;
	
	background: #282828;
	
}

#settingsContainer{
	
	display: none;
	
}

#settingsContainer h1{
	
	position: absolute;
	
	width: 100vw;
	
	text-align: center;
	
	padding: 0px;
	
	margin: 0px;
	
	top: 15px;
	
}

#settingsContainer p{
	
	position: absolute;
	
	width: 100vw;
	
	text-align: center;
	
	color: white;
	
	font-size: 20px;
	
	margin: 0px;
	
	top: 85px;
	
}

#settingsContainer select{
	
	padding: 5px;
	
	font-size: 15px;
	
}

/* Classes */

.divider{
	
	position: absolute;
	
	top: 60px;
	
	left: 50vw;
	
	background: white;
	
	width: 0px;
	
	height: 1px;
	
	transition: 1s;
	
}


/* Tags */

body{
	
	transition: 0.5s;
	
}

h1{
	
	text-align: center;
	
	color: white;
	
}

/* Other */

/* Mobile View */

@media only screen and (max-width: 600px){

	/* Id's */
	
	#backButon{
		
		top: 2.5vh;
		
	}
	
	/* Classes */
	
	.divider{
		
		transition: 0.5s;
		
	}
	
	/* Tags */

	/* Other */
	
}

