
/* Font Imports */

/* Normal View */

/* Id's */

#backButon{
	
	position: absolute;
	
	left: 10px;
	
	top: 1vh;
	
	padding: 0px;
	
	color: white;
	
}

#settingsContainer{
	
	display: none;
	
}

/* Classes */

/* Tags */

body{
	
	transition: 1s;
	
}

h1{
	
	text-align: center;
	
	color: white;
	
}

/* Other */

/* Mobile View */

@media only screen and (max-width: 600px){

	/* Id's */
	
	#backButon{
		
		top: 2.5vh;
		
	}
	
	/* Classes */
	
	/* Tags */

	/* Other */
	
}

