
@font-face{
	src: url("fonts/Roboto-Light.ttf");
	font-family: roboto;
}

@font-face{
	src: url("fonts/Roboto-Regular.ttf");
	font-family: robotoRegular;
}

@font-face{
	src: url("fonts/Exo/Exo-Regular.ttf");
	font-family: exo;
}

@font-face{
	src: url("fonts/Lato/Lato-Regular.ttf");
	font-family: lato;
}

@font-face{
	src: url("fonts/Orbitron/Orbitron-Regular.ttf");
	font-family: orbitron;
}
@font-face{
	src: url("fonts/Oxygen/Oxygen-Regular.ttf");
	font-family: oxygen;
}
@font-face{
	src: url("fonts/Play/Play-Regular.ttf");
	font-family: play;
}
@font-face{
	src: url("fonts/Raleway/Raleway-Regular.ttf");
	font-family: raleway;
}
@font-face{
	src: url("fonts/Rubik/Rubik-Regular.ttf");
	font-family: rubik;
}
@font-face{
	src: url("fonts/Ubuntu/Ubuntu-Regular.ttf");
	font-family: ubuntu;
}
