
/* Font Imports */

@font-face{
	
	src: url("fonts/Roboto-Light.ttf");
	
	font-family: roboto;
	
}

/* Normal View */


/* Id's */

#noteSection{
	
	background: #d8d8d8;
	
	height: 500px;
	
	margin-top: 10px;
	
}

#headerSection{
	
	text-align: center;
	
	color: white;
	
	line-height: 70%;
	
	font-family: roboto;
	
	background: #2ecc71;
	
	height: 75px;
	
}

/* Classes */

/* Tags */

body{
	
	background: #bdc3c7;
	
}

/* Other */



/* Mobile View */

@media only screen and (max-width: 600px){

	/* Id's */

	/* Classes */

	/* Tags */

	/* Other */
	
}