
/* Font Imports */

@font-face{
	
	src: url("fonts/Roboto-Light.ttf");
	
	font-family: roboto;
	
}

/* Normal View */


/* Id's */

#noteSection{
	
	background: #d8d8d8;
	
	height: 500px;
	
	margin: 10px;
	
	margin-top: 15px;
	
	border-radius: 10px;
	
}

#headerSection{
	
	text-align: center;
	
	color: white;
	
	line-height: 70%;
	
	font-family: roboto;
	
	background: #37dd7e;
	
	height: 75px;
	
	border-radius: 10px;
	
}

#navButton{
	
	float: left;
	
	margin-left: 1%;
	
	margin-top: 17.5px;
	
	font-size: 30px;
	
	border: 0px;
	
	transition: 0.5s;
	
}

#newButton{
	
	float: right;
	
	margin-right: 1%;
	
	margin-top: 17.5px;
	
	font-size: 30px;
	
	border: 0px;
	
	transition: 0.5s;
	
}

#navigation{
	
	background: #919191;
	
	height: 100vh;
	
	position: fixed;
	
	left: 0px;
	
	top: 0px;
	
	transition: 1s;
	
}

#closeNavButton{
	
	border: none;
	
	font-size: 30px;
	
	float: right;
	
	margin-top: 15px;
	
	margin-right: 15px;
	
}

/* Classes */

.rotated{
	
    transform: rotate(90deg);
	
}

.navClosed{
	
	width: 0vw;
	
}

.navOpen{
	
	width: 30vw;
	
}

/* Tags */

body{
	
	background: #bdc3c7;
	
}

button{
	
	background-color: rgb(0, 0, 0, 0);
	
	border: 1px solid black;
	
	padding: 5px;
	
	outline: none;
	
	
}

/* Other */



/* Mobile View */

@media only screen and (max-width: 600px){

	/* Id's */
	
	#noteSection{
		
		margin: 5px;
	
		margin-top: 15px;
		
	}
	
	#navigation{
		
		transition: 0.5s;
		
	}
	
	#navButton{
		
		margin-left: 5%;
		
	}
	
	#newButton{
		
		margin-right: 5%;
		
	}

	/* Classes */

	.navOpen{
		
		width: 55vw;
		
	}
	
	/* Tags */

	/* Other */
	
}